{{> header }}

   {{> navbar }}

    <div class="row">
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title"> {{ ciu1 }} </h5>
            <p class="card-text">Clima</p>
            <a href="#" class="btn btn-primary">{{ cli1 }}</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ ciu2 }}</h5>
            <p class="card-text">Clima</p>
            <a href="#" class="btn btn-primary">{{ cli2 }}</a>
        </div>
        </div>
    </div>
    </div>

{{> footer }}
   